html, body {
  background-color: #c3f5ec;
  min-width: 700px;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}
body{
  padding:20px;
}

.indexImgRoof{
  background-color:red;
  width: 100%;
}

.building{
  background-color: #fff5e6;
}

img{
  width: 280px;
  height: 150px;
}