html, body {
  background-color: #fff5e6;
  min-width: 700px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  padding:20px;
}

.indexImgRoof{
  background-color:red;
  width: 100%;
}

img{
  width: 280px;
  height: 150px;
}